<% @lists.each do |list| %>
  <li>
    <p><%= link_to list.name, list_path(list) %></p>
  </li>
  <% if list.photo.attached? %>
      <%= cl_image_tag(list.photo.key,
      width: 400, height: 300, crop: :fill) %>
  <% end %>
<% end %>
<%= link_to "Create new list", new_list_path %>
